/* Start of Container style */
.call-container{
  border-radius: 7px;
box-shadow: 0 1px 5px rgb(138, 137, 137);
  padding: 10px;
  margin: 20px;
  height: auto;
display: grid;
grid-template-columns: 20% 60% 20%;
grid-template-rows: auto;
}
.container-calls-list{
  height: 400px;
  overflow: scroll;
}

.call-container:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.call-container h3{
  font-size: 1em;
}
.call-container p{
  color: rgb(144, 144, 144);
  font-size: 1.2em;
}
.call-container >ul{
  list-style: none;
 
}
/* End of Container style */

/* time style on bottom*/
.time{
  padding-top: 40%;
  font-size: 0.75rem;
  color: rgb(58, 57, 57);

}
/* Each Detail of call style */
li:first-child{
  color: rgb(144, 144, 144);
  font-weight: bold;
  font-size: 1.23rem;
  padding-bottom: 2rem;
}

/* Start of Icon to click and go to detail page */
.call-container .information{
  text-decoration: none;
  font-size: 1.25rem;
  color:#0c0c95;
}
.information span{
  font-size: 0.75em;
}
/*Start of Tooltip to of Detail icom  */
.tooltip {
  position: relative;
  display: inline-block;
cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color:#0c0c95;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 12px 2px;
  position: absolute;
  z-index: 1;
  bottom: 70%;
  left: 25%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*End of Tooltip to of Detail icom  */

.phone-icon {
  color: #40CA3F;
font-size: 1.5rem;
padding-top: 55%;
}
