footer{
  padding: 0.75rem 0.25rem;
}

footer i{
color :rgb(209, 28, 28);
font-size: 40px;

}
footer div{
  position: relative;
  float:r;
  margin-left: 30px;
  color: rgb(209, 28, 28);
  font-size: 1.25rem;
}